.bannerContainer {
  text-align: center;
  background-image: url('../assets/banner.jpg');
  background-size: cover;
  height: 600px;
}

@media only screen and (min-width: 1024px) {
  .bannerContainer {
    height: 700px;
  }

  .bannerHeading {
    top: 15rem;
  }
}

.bannerHeading {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem !important;
  color: #fff;
  position: relative;
  top: 10rem;
}

.callToActionBtn {
  position: relative;
  top: 12rem;
  background-color: #ffff00 !important;
  color: #7febc1 !important;
  transition: background-color, color 200ms;
}

.callToActionBtn:hover {
  background-color: #7febc1 !important;
  color: #ffff00 !important;
}
