.cartContainer {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 10px #808080;
  position: fixed;
  top: 75%;
  left: 50%;
  z-index: 1;
  min-height: 32rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: opacity 200ms ease-in;
  transform: translate(-50%, -75%);
}

.header {
  border-radius: 5px 5px 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 10px #808080;
  background-color: #fff;
  height: 50px !important;
  z-index: 1;
}

.innerContainer {
  overflow: auto;
  height: 30rem;
  padding-top: 60px;
}

.closeBtn {
  background-color: transparent;
  color: #4a4a4a;
  border: none;
  outline: none;
  float: right;
  position: relative;
  top: 0.2rem;
  right: 0.3rem;
  z-index: 1;
  transform: scale(2);
}

.closeBtn:hover {
  cursor: pointer;
  color: #7febc1;
}

.emptyCartMessage {
  padding-top: 150px;
  font-size: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .cartContainer {
    width: auto;
  }
}
