.cartBackground {
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.cartContainer {
  border-radius: 5px;
  background-color: #fff;
  position: fixed;
  top: 75%;
  left: 50%;
  z-index: 50;
  min-height: 32rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: opacity 200ms ease-in;
  transform: translate(-50%, -75%);
}

.header {
  border-radius: 5px 5px 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 10px #808080;
  background-color: #fff;
  height: 50px !important;
  z-index: 1;
}

.innerContainer {
  overflow: auto;
  height: 32rem;
  padding-top: 60px;
  margin-bottom: 1rem;
}

.closeBtn {
  background-color: transparent;
  color: #4a4a4a;
  border: none;
  outline: none;
  float: right;
  position: relative;
  top: 0.5rem;
  right: 0.3rem;
  z-index: 1;
  transform: scale(2);
}

.closeBtn:hover {
  cursor: pointer;
  color: #7febc1;
}

.emptyCartMessage {
  padding-top: 150px;
  font-size: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .cartContainer {
    width: 40%;
  }
}

.productContainer {
  margin: 1rem 0;
  height: auto;
}

.productContainer::after {
  display: block;
  content: '';
  clear: both;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid #808080;
}

.leftContent {
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.rightContent {
  float: right;
  width: 50%;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  .productImg {
    height: auto;
    width: 140px;
  }

  .productContainer::after {
    width: 95%;
  }
}
