.cartContainer {
  border-radius: 5px;
  background-color: yellow;
  position: absolute;
  z-index: 1;
  min-height: 10rem;
  width: 90%;
  top: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: opacity 200ms ease-in;
}

@media (min-width: 1024px) {
  .cartContainer {
    width: 25%;
    top: -30rem;
    left: 63rem;
  }
}
