.navbar {
  padding: 0 5px;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 0 80px;
    box-shadow: 0px 1px 5px #808080;
  }
}

.logoFont {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: rgb(127, 235, 193);
}

.burgerSpan {
  height: 2px !important;
  width: 20px !important;
}

.navbarMenu {
  transition: display 4s;
}

.productQuantity {
  color: #fff;
  position: absolute;
  left: 1.9rem;
  top: 0.95rem;
}
