.navbar {
  margin: 0 5px;
}

.logoFont {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: rgb(127, 235, 193);
}

.burgerSpan {
  height: 2px !important;
  width: 20px !important;
}

.navbarMenu {
  transition: display 4s;
}

.productQuantity {
  color: #ffffff;
  position: relative;
  left: 1.6rem;
  top: -0.3rem;
}
